
body {
    margin: 0;
    padding: 0;
    background-color: #5C95FF;
}
.container {
    background-color: #423D41;
    color: aliceblue;
    max-width: 1200px;
    font-size: x-large;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lobster';
}


.container section{
    background-color: #266DD3;
}
.container3{
    background-color: #FFFCF7;
}
.section {
    width: 30%;
    background-image: url(resources/fondo02.jpg);
    border: #423D41;
    border-radius: 10px;
}
.section h2 {
    background-image: url(resources/cafe_animado.gif);
    color: #E25D2E;;
    -color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #5C95FF;
    padding-bottom: 10px;
}
.section ul {
    list-style-type: circle;
    padding: 0;
    margin-left: 25px;
    
}
.section li {
    margin-bottom: 15px; /* Aumenta la separación entre platillos */
    
    
}

.container2{
    text-align: center;
}

#mainlogo{
    width: 650px;
    height: 250px;
}

#mainlogo2{
    width: 250px;
    height: 250px;
}
.logo {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
    margin: 0 auto;
    display: inline-block;

}

.logo li{
    display: inline-block; /* Hace que los elementos <li> se muestren en línea */
    vertical-align: middle; /* Alinea verticalmente los elementos */
    margin-right: 20px;
}
.logo li h2 {
    font-family: 'Lobster', cursive;
    color: #63ADF2;
}
.logo li h3 {
    font-family: 'Lobster', cursive;
    color: #266DD3;
}

.container-menu{
    background-color: #635255;
}

.contenedor {
    display: flex; /* Usamos flexbox para alinear los elementos */
    height: 450px;
   
  }
  
  .imagen-container {
    width: 25%; /* El 25% del ancho */
  }
  
  .imagen-container img {
    width: 100%;
    height: 100%; /* La imagen ocupa todo el ancho del contenedor */
  }
  
  .container {
    width: 75%; /* El 75% del ancho */
    height: 100%;
  }
  
  .container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* Ajusta el ancho máximo según tus necesidades */
    max-height: 1500px;
    margin: 0 auto;
  }


  
  .image {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .active {
    opacity: 1;
  }
  

  